In [71]:
import  numpy  as  np
import  pandas  as  pd
import  os
raw_data_path =os.path.join(os.path.pardir,'data','raw')
train_file_path=os.path.join(raw_data_path,'train.csv')
test_file_path=os.path.join(raw_data_path,'test.csv')

train_df=pd.read_csv(train_file_path,index_col="Id")
test_df=pd.read_csv(test_file_path,index_col="Id")

In [72]:
test_df["SalePrice"]= -1

In [73]:
df=pd.concat((train_df,test_df),axis=0)

In [74]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2919 entries, 1 to 2919
Data columns (total 80 columns):
MSSubClass       2919 non-null int64
MSZoning         2915 non-null object
LotFrontage      2433 non-null float64
LotArea          2919 non-null int64
Street           2919 non-null object
Alley            198 non-null object
LotShape         2919 non-null object
LandContour      2919 non-null object
Utilities        2917 non-null object
LotConfig        2919 non-null object
LandSlope        2919 non-null object
Neighborhood     2919 non-null object
Condition1       2919 non-null object
Condition2       2919 non-null object
BldgType         2919 non-null object
HouseStyle       2919 non-null object
OverallQual      2919 non-null int64
OverallCond      2919 non-null int64
YearBuilt        2919 non-null int64
YearRemodAdd     2919 non-null int64
RoofStyle        2919 non-null object
RoofMatl         2919 non-null object
Exterior1st      2918 non-null object
Exterior2nd      2918 non-null object
MasVnrType       2895 non-null object
MasVnrArea       2896 non-null float64
ExterQual        2919 non-null object
ExterCond        2919 non-null object
Foundation       2919 non-null object
BsmtQual         2838 non-null object
BsmtCond         2837 non-null object
BsmtExposure     2837 non-null object
BsmtFinType1     2840 non-null object
BsmtFinSF1       2918 non-null float64
BsmtFinType2     2839 non-null object
BsmtFinSF2       2918 non-null float64
BsmtUnfSF        2918 non-null float64
TotalBsmtSF      2918 non-null float64
Heating          2919 non-null object
HeatingQC        2919 non-null object
CentralAir       2919 non-null object
Electrical       2918 non-null object
1stFlrSF         2919 non-null int64
2ndFlrSF         2919 non-null int64
LowQualFinSF     2919 non-null int64
GrLivArea        2919 non-null int64
BsmtFullBath     2917 non-null float64
BsmtHalfBath     2917 non-null float64
FullBath         2919 non-null int64
HalfBath         2919 non-null int64
BedroomAbvGr     2919 non-null int64
KitchenAbvGr     2919 non-null int64
KitchenQual      2918 non-null object
TotRmsAbvGrd     2919 non-null int64
Functional       2917 non-null object
Fireplaces       2919 non-null int64
FireplaceQu      1499 non-null object
GarageType       2762 non-null object
GarageYrBlt      2760 non-null float64
GarageFinish     2760 non-null object
GarageCars       2918 non-null float64
GarageArea       2918 non-null float64
GarageQual       2760 non-null object
GarageCond       2760 non-null object
PavedDrive       2919 non-null object
WoodDeckSF       2919 non-null int64
OpenPorchSF      2919 non-null int64
EnclosedPorch    2919 non-null int64
3SsnPorch        2919 non-null int64
ScreenPorch      2919 non-null int64
PoolArea         2919 non-null int64
PoolQC           10 non-null object
Fence            571 non-null object
MiscFeature      105 non-null object
MiscVal          2919 non-null int64
MoSold           2919 non-null int64
YrSold           2919 non-null int64
SaleType         2918 non-null object
SaleCondition    2919 non-null object
SalePrice        2919 non-null int64
dtypes: float64(11), int64(26), object(43)
memory usage: 1.8+ MB

In [82]:
df.loc[df.PoolArea==0,'PoolQC']='None' # Pool Quality is none where there is no pool

In [104]:
df[df.PoolQC.isna()][['MSSubClass','PoolArea','OverallQual','OverallCond']]

      MSSubClass  PoolArea  OverallQual  OverallCond
Id
2421          20       368            4            6
2504          50       444            6            5
2600          20       561            3            5

In [111]:

df.groupby(['PoolQC']).PoolArea.median()

PoolQC
Ex      370.0
Fa      583.5
Gd      657.0
None      0.0
Name: PoolArea, dtype: float64

In [122]:
df.loc[(df.PoolQC.isna()) & (df.PoolArea<500),'PoolQC']='EX'

In [124]:
df.loc[df.PoolQC.isna(),'PoolQC']='Fa'

In [125]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2919 entries, 1 to 2919
Data columns (total 80 columns):
MSSubClass       2919 non-null int64
MSZoning         2915 non-null object
LotFrontage      2433 non-null float64
LotArea          2919 non-null int64
Street           2919 non-null object
Alley            198 non-null object
LotShape         2919 non-null object
LandContour      2919 non-null object
Utilities        2917 non-null object
LotConfig        2919 non-null object
LandSlope        2919 non-null object
Neighborhood     2919 non-null object
Condition1       2919 non-null object
Condition2       2919 non-null object
BldgType         2919 non-null object
HouseStyle       2919 non-null object
OverallQual      2919 non-null int64
OverallCond      2919 non-null int64
YearBuilt        2919 non-null int64
YearRemodAdd     2919 non-null int64
RoofStyle        2919 non-null object
RoofMatl         2919 non-null object
Exterior1st      2918 non-null object
Exterior2nd      2918 non-null object
MasVnrType       2895 non-null object
MasVnrArea       2896 non-null float64
ExterQual        2919 non-null object
ExterCond        2919 non-null object
Foundation       2919 non-null object
BsmtQual         2838 non-null object
BsmtCond         2837 non-null object
BsmtExposure     2837 non-null object
BsmtFinType1     2840 non-null object
BsmtFinSF1       2918 non-null float64
BsmtFinType2     2839 non-null object
BsmtFinSF2       2918 non-null float64
BsmtUnfSF        2918 non-null float64
TotalBsmtSF      2918 non-null float64
Heating          2919 non-null object
HeatingQC        2919 non-null object
CentralAir       2919 non-null object
Electrical       2918 non-null object
1stFlrSF         2919 non-null int64
2ndFlrSF         2919 non-null int64
LowQualFinSF     2919 non-null int64
GrLivArea        2919 non-null int64
BsmtFullBath     2917 non-null float64
BsmtHalfBath     2917 non-null float64
FullBath         2919 non-null int64
HalfBath         2919 non-null int64
BedroomAbvGr     2919 non-null int64
KitchenAbvGr     2919 non-null int64
KitchenQual      2918 non-null object
TotRmsAbvGrd     2919 non-null int64
Functional       2917 non-null object
Fireplaces       2919 non-null int64
FireplaceQu      1499 non-null object
GarageType       2762 non-null object
GarageYrBlt      2760 non-null float64
GarageFinish     2760 non-null object
GarageCars       2918 non-null float64
GarageArea       2918 non-null float64
GarageQual       2760 non-null object
GarageCond       2760 non-null object
PavedDrive       2919 non-null object
WoodDeckSF       2919 non-null int64
OpenPorchSF      2919 non-null int64
EnclosedPorch    2919 non-null int64
3SsnPorch        2919 non-null int64
ScreenPorch      2919 non-null int64
PoolArea         2919 non-null int64
PoolQC           2919 non-null object
Fence            571 non-null object
MiscFeature      105 non-null object
MiscVal          2919 non-null int64
MoSold           2919 non-null int64
YrSold           2919 non-null int64
SaleType         2918 non-null object
SaleCondition    2919 non-null object
SalePrice        2919 non-null int64
dtypes: float64(11), int64(26), object(43)
memory usage: 1.8+ MB

In [132]:
pd.options.display.max_rows=15
df[['GarageCars','GarageArea']]

      GarageCars  GarageArea
Id
1            2.0       548.0
2            2.0       460.0
3            2.0       608.0
4            3.0       642.0
5            3.0       836.0
6            2.0       480.0
7            2.0       636.0
...          ...         ...
2913         1.0       286.0
2914         0.0         0.0
2915         0.0         0.0
2916         1.0       286.0
2917         2.0       576.0
2918         0.0         0.0
2919         3.0       650.0

[2919 rows x 2 columns]

In [133]:
df.groupby(['GarageCars']).GarageArea.median()

GarageCars
0.0       0.0
1.0     288.0
2.0     506.0
3.0     807.5
4.0     892.0
5.0    1184.0
Name: GarageArea, dtype: float64

In [137]:
df[df.GarageType.isna()][['GarageType','GarageYrBlt','GarageFinish','GarageCars','GarageArea','GarageQual','GarageCond']]

,GarageType,GarageYrBlt,GarageFinish,GarageCars,GarageArea,GarageQual,GarageCond
Id,,,,,,,
40,NaN,NaN,NaN,0.0,0.0,NaN,NaN
49,NaN,NaN,NaN,0.0,0.0,NaN,NaN
79,NaN,NaN,NaN,0.0,0.0,NaN,NaN
89,NaN,NaN,NaN,0.0,0.0,NaN,NaN
90,NaN,NaN,NaN,0.0,0.0,NaN,NaN
100,NaN,NaN,NaN,0.0,0.0,NaN,NaN
109,NaN,NaN,NaN,0.0,0.0,NaN,NaN
...,...,...,...,...,...,...,...
2892,NaN,NaN,NaN,0.0,0.0,NaN,NaN
2893,NaN,NaN,NaN,0.0,0.0,NaN,NaN
2894,NaN,NaN,NaN,0.0,0.0,NaN,NaN
2910,NaN,NaN,NaN,0.0,0.0,NaN,NaN
2914,NaN,NaN,NaN,0.0,0.0,NaN,NaN
2915,NaN,NaN,NaN,0.0,0.0,NaN,NaN
2918,NaN,NaN,NaN,0.0,0.0,NaN,NaN

In [141]:
df.loc[df.GarageYrBlt.isna(),'GarageYrBlt']=df.YearBuilt

In [142]:
df[df.GarageType.isna()][['GarageType','GarageYrBlt','GarageFinish','GarageCars','GarageArea','GarageQual','GarageCond']]

,GarageType,GarageYrBlt,GarageFinish,GarageCars,GarageArea,GarageQual,GarageCond
Id,,,,,,,
40,NaN,1955.0,NaN,0.0,0.0,NaN,NaN
49,NaN,1920.0,NaN,0.0,0.0,NaN,NaN
79,NaN,1968.0,NaN,0.0,0.0,NaN,NaN
89,NaN,1915.0,NaN,0.0,0.0,NaN,NaN
90,NaN,1994.0,NaN,0.0,0.0,NaN,NaN
100,NaN,1959.0,NaN,0.0,0.0,NaN,NaN
109,NaN,1919.0,NaN,0.0,0.0,NaN,NaN
...,...,...,...,...,...,...,...
2892,NaN,1945.0,NaN,0.0,0.0,NaN,NaN
2893,NaN,1951.0,NaN,0.0,0.0,NaN,NaN
2894,NaN,1916.0,NaN,0.0,0.0,NaN,NaN
2910,NaN,1970.0,NaN,0.0,0.0,NaN,NaN
2914,NaN,1970.0,NaN,0.0,0.0,NaN,NaN
2915,NaN,1970.0,NaN,0.0,0.0,NaN,NaN
2918,NaN,1992.0,NaN,0.0,0.0,NaN,NaN

In [174]:
df.loc[df.GarageType.isna(),'GarageType']='None';
df.loc[df.GarageType=='None','GarageFinish']='None';
df.loc[df.GarageType=='None','GarageQual']='None';
df.loc[df.GarageType=='None','GarageCond']='None';

In [176]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2919 entries, 1 to 2919
Data columns (total 80 columns):
MSSubClass       2919 non-null int64
MSZoning         2915 non-null object
LotFrontage      2433 non-null float64
LotArea          2919 non-null int64
Street           2919 non-null object
Alley            198 non-null object
LotShape         2919 non-null object
LandContour      2919 non-null object
Utilities        2917 non-null object
LotConfig        2919 non-null object
LandSlope        2919 non-null object
Neighborhood     2919 non-null object
Condition1       2919 non-null object
Condition2       2919 non-null object
BldgType         2919 non-null object
HouseStyle       2919 non-null object
OverallQual      2919 non-null int64
OverallCond      2919 non-null int64
YearBuilt        2919 non-null int64
YearRemodAdd     2919 non-null int64
RoofStyle        2919 non-null object
RoofMatl         2919 non-null object
Exterior1st      2918 non-null object
Exterior2nd      2918 non-null object
MasVnrType       2895 non-null object
MasVnrArea       2896 non-null float64
ExterQual        2919 non-null object
ExterCond        2919 non-null object
Foundation       2919 non-null object
BsmtQual         2838 non-null object
BsmtCond         2837 non-null object
BsmtExposure     2837 non-null object
BsmtFinType1     2840 non-null object
BsmtFinSF1       2918 non-null float64
BsmtFinType2     2839 non-null object
BsmtFinSF2       2918 non-null float64
BsmtUnfSF        2918 non-null float64
TotalBsmtSF      2918 non-null float64
Heating          2919 non-null object
HeatingQC        2919 non-null object
CentralAir       2919 non-null object
Electrical       2918 non-null object
1stFlrSF         2919 non-null int64
2ndFlrSF         2919 non-null int64
LowQualFinSF     2919 non-null int64
GrLivArea        2919 non-null int64
BsmtFullBath     2917 non-null float64
BsmtHalfBath     2917 non-null float64
FullBath         2919 non-null int64
HalfBath         2919 non-null int64
BedroomAbvGr     2919 non-null int64
KitchenAbvGr     2919 non-null int64
KitchenQual      2918 non-null object
TotRmsAbvGrd     2919 non-null int64
Functional       2917 non-null object
Fireplaces       2919 non-null int64
FireplaceQu      1499 non-null object
GarageType       2919 non-null object
GarageYrBlt      2919 non-null float64
GarageFinish     2917 non-null object
GarageCars       2918 non-null float64
GarageArea       2918 non-null float64
GarageQual       2917 non-null object
GarageCond       2917 non-null object
PavedDrive       2919 non-null object
WoodDeckSF       2919 non-null int64
OpenPorchSF      2919 non-null int64
EnclosedPorch    2919 non-null int64
3SsnPorch        2919 non-null int64
ScreenPorch      2919 non-null int64
PoolArea         2919 non-null int64
PoolQC           2919 non-null object
Fence            571 non-null object
MiscFeature      105 non-null object
MiscVal          2919 non-null int64
MoSold           2919 non-null int64
YrSold           2919 non-null int64
SaleType         2918 non-null object
SaleCondition    2919 non-null object
SalePrice        2919 non-null int64
dtypes: float64(11), int64(26), object(43)
memory usage: 1.9+ MB

In [178]:
df[df.GarageFinish.isna()][['GarageType','GarageYrBlt','GarageFinish','GarageCars','GarageArea','GarageQual','GarageCond']]

,GarageType,GarageYrBlt,GarageFinish,GarageCars,GarageArea,GarageQual,GarageCond
Id,,,,,,,
2127,Detchd,1910.0,NaN,1.0,360.0,NaN,NaN
2577,Detchd,1923.0,NaN,NaN,NaN,NaN,NaN

In [182]:
median_cars_yearwise=df.groupby('GarageYrBlt').GarageCars.transform('median')

In [183]:
df.GarageCars.fillna(median_cars_yearwise,inplace=True)

In [186]:
df[df.GarageArea.isna()][['GarageType','GarageYrBlt','GarageFinish','GarageCars','GarageArea','GarageQual','GarageCond']]

,GarageType,GarageYrBlt,GarageFinish,GarageCars,GarageArea,GarageQual,GarageCond
Id,,,,,,,
2577,Detchd,1923.0,NaN,1.0,NaN,NaN,NaN

In [187]:
median_garage_area_num_car_wise=df.groupby('GarageCars').GarageArea.transform('median')

In [188]:
df.GarageArea.fillna(median_garage_area_num_car_wise,inplace=True)

In [198]:
df[df.GarageFinish.isna()][['OverallQual','GarageType','GarageYrBlt','GarageFinish','GarageCars','GarageArea','GarageQual','GarageCond']]

,OverallQual,GarageType,GarageYrBlt,GarageFinish,GarageCars,GarageArea,GarageQual,GarageCond
Id,,,,,,,,
2127,6,Detchd,1910.0,NaN,1.0,360.0,NaN,NaN
2577,5,Detchd,1923.0,NaN,1.0,288.0,NaN,NaN

In [219]:
df[df.GarageYrBlt<1930]['GarageFinish'].value_counts()

Unf     141
None     61
RFn       4
Fin       2
Name: GarageFinish, dtype: int64

In [208]:
df.GarageFinish.fillna('Unf',inplace=True)

In [217]:
df.groupby('GarageQual').GarageArea.median()

GarageQual
Ex      840.0
Fa      280.0
Gd      563.0
None      0.0
Po      226.0
TA      484.0
Name: GarageArea, dtype: float64

In [228]:
pd.crosstab(df.GarageCond,df.GarageYrBlt)

GarageYrBlt,1872.0,1875.0,1890.0,1895.0,1896.0,1900.0,1902.0,1905.0,1906.0,1907.0,1908.0,1910.0,1911.0,1912.0,1914.0,1915.0,1916.0,1917.0,1918.0,1919.0,1920.0,1921.0,1922.0,1923.0,1924.0,1925.0,1926.0,1927.0,1928.0,1929.0,1930.0,1931.0,1932.0,1933.0,1934.0,1935.0,1936.0,1937.0,1938.0,1939.0,1940.0,1941.0,1942.0,1943.0,1945.0,1946.0,1947.0,1948.0,1949.0,1950.0,1951.0,1952.0,1953.0,1954.0,1955.0,1956.0,1957.0,1958.0,1959.0,1960.0,1961.0,1962.0,1963.0,1964.0,1965.0,1966.0,1967.0,1968.0,1969.0,1970.0,1971.0,1972.0,1973.0,1974.0,1975.0,1976.0,1977.0,1978.0,1979.0,1980.0,1981.0,1982.0,1983.0,1984.0,1985.0,1986.0,1987.0,1988.0,1989.0,1990.0,1991.0,1992.0,1993.0,1994.0,1995.0,1996.0,1997.0,1998.0,1999.0,2000.0,2001.0,2002.0,2003.0,2004.0,2005.0,2006.0,2007.0,2008.0,2009.0,2010.0,2207.0
GarageCond,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
Ex,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
Fa,0,0,0,0,0,1,0,0,0,0,0,5,0,0,1,2,2,1,0,0,11,0,5,1,3,2,0,0,2,1,3,0,1,1,0,0,1,0,2,0,0,1,0,0,0,0,0,1,0,6,1,0,0,1,1,2,1,2,0,1,1,0,0,2,2,0,0,0,0,1,0,1,0,0,0,1,2,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
Gd,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,2,0,0,0,1,0,0,0,0,0,0,0,1,1,0,0,0,1,0,0,1,2,0,0,2,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
None,1,1,2,2,0,3,1,1,0,1,0,10,1,3,4,3,2,0,1,2,9,0,5,3,2,3,1,0,0,0,3,2,0,0,0,2,1,0,1,0,6,2,0,0,3,4,4,0,2,0,1,0,0,1,6,1,0,2,3,1,2,2,0,1,1,0,2,1,0,10,5,2,0,1,3,0,1,1,0,0,0,0,0,0,1,0,2,0,0,1,1,1,0,1,0,0,0,0,0,0,0,1,0,3,3,3,2,0,0,0,0
Po,0,0,0,0,0,0,0,0,0,0,0,2,0,0,0,0,1,0,0,0,2,0,0,0,0,0,1,0,0,0,2,0,0,0,1,0,0,1,0,0,1,0,0,0,0,0,0,1,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
TA,0,0,0,1,1,5,0,0,1,0,1,2,0,0,1,5,3,1,3,1,20,5,3,5,5,13,14,5,5,1,22,4,3,0,3,8,6,5,9,21,24,13,6,1,10,9,5,17,14,44,16,15,23,36,23,39,33,40,35,36,30,35,34,32,32,36,36,48,32,30,24,26,29,35,28,49,63,40,34,32,14,9,10,19,17,11,16,20,19,24,17,27,49,39,35,40,43,58,54,55,41,53,92,99,142,115,115,60,29,5,1

In [231]:
df.GarageCond.fillna('TA',inplace=True)

In [233]:
df.GarageQual.fillna('TA',inplace=True)

In [234]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2919 entries, 1 to 2919
Data columns (total 80 columns):
MSSubClass       2919 non-null int64
MSZoning         2915 non-null object
LotFrontage      2433 non-null float64
LotArea          2919 non-null int64
Street           2919 non-null object
Alley            198 non-null object
LotShape         2919 non-null object
LandContour      2919 non-null object
Utilities        2917 non-null object
LotConfig        2919 non-null object
LandSlope        2919 non-null object
Neighborhood     2919 non-null object
Condition1       2919 non-null object
Condition2       2919 non-null object
BldgType         2919 non-null object
HouseStyle       2919 non-null object
OverallQual      2919 non-null int64
OverallCond      2919 non-null int64
YearBuilt        2919 non-null int64
YearRemodAdd     2919 non-null int64
RoofStyle        2919 non-null object
RoofMatl         2919 non-null object
Exterior1st      2918 non-null object
Exterior2nd      2918 non-null object
MasVnrType       2895 non-null object
MasVnrArea       2896 non-null float64
ExterQual        2919 non-null object
ExterCond        2919 non-null object
Foundation       2919 non-null object
BsmtQual         2838 non-null object
BsmtCond         2837 non-null object
BsmtExposure     2837 non-null object
BsmtFinType1     2840 non-null object
BsmtFinSF1       2918 non-null float64
BsmtFinType2     2839 non-null object
BsmtFinSF2       2918 non-null float64
BsmtUnfSF        2918 non-null float64
TotalBsmtSF      2918 non-null float64
Heating          2919 non-null object
HeatingQC        2919 non-null object
CentralAir       2919 non-null object
Electrical       2918 non-null object
1stFlrSF         2919 non-null int64
2ndFlrSF         2919 non-null int64
LowQualFinSF     2919 non-null int64
GrLivArea        2919 non-null int64
BsmtFullBath     2917 non-null float64
BsmtHalfBath     2917 non-null float64
FullBath         2919 non-null int64
HalfBath         2919 non-null int64
BedroomAbvGr     2919 non-null int64
KitchenAbvGr     2919 non-null int64
KitchenQual      2918 non-null object
TotRmsAbvGrd     2919 non-null int64
Functional       2917 non-null object
Fireplaces       2919 non-null int64
FireplaceQu      1499 non-null object
GarageType       2919 non-null object
GarageYrBlt      2919 non-null float64
GarageFinish     2919 non-null object
GarageCars       2919 non-null float64
GarageArea       2919 non-null float64
GarageQual       2919 non-null object
GarageCond       2919 non-null object
PavedDrive       2919 non-null object
WoodDeckSF       2919 non-null int64
OpenPorchSF      2919 non-null int64
EnclosedPorch    2919 non-null int64
3SsnPorch        2919 non-null int64
ScreenPorch      2919 non-null int64
PoolArea         2919 non-null int64
PoolQC           2919 non-null object
Fence            571 non-null object
MiscFeature      105 non-null object
MiscVal          2919 non-null int64
MoSold           2919 non-null int64
YrSold           2919 non-null int64
SaleType         2918 non-null object
SaleCondition    2919 non-null object
SalePrice        2919 non-null int64
dtypes: float64(11), int64(26), object(43)
memory usage: 1.9+ MB

WD       2525
New       239
COD        87
ConLD      26
CWD        12
ConLI       9
ConLw       8
Oth         7
Con         5
Name: SaleType, dtype: int64